{% extends 'base.html.twig' %}

{% block title %}Hello QualificationController!{% endblock %}

{% block body %}

<table>
    <thead>
        <th>#</th>
        <th>Code</th>
        <th>Libellé</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for qualification in qualifications %}
            <tr>
                <td>{{ qualification.id}}</td>
                <td>{{ qualification.code}}</td>
                <td>{{ qualification.libelle}}</td>
                <td><a href="{{path('show_qualification', {'id':qualification.id})}}">Voir</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
